
// Fonts
@import url('https://fonts.googleapis.com/css?family=Libre+Baskerville');

*, *::before, *::after {
  box-sizing: border-box;
}

body {
  padding: 0;
  margin: 0;
  background-color: white;
  font-family: 'Libre Baskerville', serif;
  font-size: 1rem;
  color: white;
  min-height: 100vh;
}

.full-height-grow {
  display: flex;
  flex-direction: column;
}

.body-container {
  display: flex;
  flex-direction: column;
  max-width: 1400px;
  margin: 0 auto;
  padding: 0 40px;
  flex-grow: 1;
}

.home-brand-image-properties {
  width: 50px;
}

.home-brand-logo {
  display: flex;
  align-items: center;
  font-size: 1.25em;
  color: inherit;
  text-decoration: none;
}

.home-brand-logo:hover {
  text-decoration: none;
  color: rgb(0, 174, 199);
}

.home-brand-logo-text {
  margin-left: 1rem;
  font-size: 1.6rem;
  color: rgb(0, 174, 199);
}

.home-brand-logo-text:hover {
  text-decoration: none;
  color: rgb(0, 174, 199);
  cursor: pointer;
}

.header-black-bar {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 120px;
  z-index: -1;
  background-color: black;
}

.home-nav ul {
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
}

.home-nav a {
  color: inherit;
  text-decoration: none;
  padding: 1rem;
}

.home-nav a:hover {
  color: #adadad;
}

.home-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 120px;
  margin-bottom: 20px;
}

.toggle-nav {
    display: none;
    position: absolute;
    top: 1.85rem;
    right: 1rem;
    flex-direction: column;
    justify-content: space-between;
    font-size: 1.8em;
}

.home-main-section {
  display: flex;
  align-items: stretch;
  justify-content: space-between;
  flex-grow: 1;
}

.margin-bottom-30 {
  margin-bottom: 30px;
}

.margin-bottom-80 {
  margin-bottom: 80px;
}

@media (max-width: 920px) {
    .home-brand-logo {
        position: absolute;
        top: 40px;
    }

    .toggle-nav {
        display: flex;
    }

    .navbar-links {
       display: none;
    }

    .home-header {
        flex-direction: column;
        align-items: flex-start;
    }

    .navbar-links {
        position: absolute;
        top: 120px;
        left: 0;
        width: 100%;
    }

    .navbar-links ul{
        background-color: black;
        flex-direction: column;
        text-align: center;
    }

    .navbar-links li {
        margin-top: 0.2rem;
    }

    .navbar-links ul li:last-child {
        margin-bottom: 15px;
    }

    .navbar-links.active {
        display: inline;
    }
}