.file-table-container {
  display: flex;
  flex-direction: column;
  max-width: 1400px;
  margin: 0 auto;
  padding: 0 40px;
  flex-grow: 1;
}

.file-table-container a {
  color: white;
  text-decoration: none;
  margin-bottom: 20px;
}

.file-table {
  background-color: white;
  color: black;
}

.normal-row td {
  font-weight: 100;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  border-collapse: collapse;
  border-left: 1px solid #adadad;
  background-color: white;
  color: black;
  padding-top: 8px;
  padding-bottom: 8px;
}

.normal-row td > span {
  padding: 7px 13px;
}

.heading-row > th {
  border-left: 1px solid #adadad;
  border-bottom: 1px solid #adadad;
  border-top: 1px solid #adadad;
  padding-bottom: 5px;
  padding-top: 5px;
  font-weight: bold;
}

.td-right {
  border-right: 1px solid #adadad;
}

.td-no-left {
  border-left: 0px;
}

.td-last {
  border-top: 1px solid #adadad;
}