body {
    background-image: url("../images/home_background.jpg");
    background-size: 1600px;
    background-repeat: no-repeat;
}

.home-main-section {
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.body-container {
    width: 100vw;
}

.login-form-area {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgba(23, 63, 53, 0.8);
    padding: 2rem 4rem;
    width: 60vw;
    max-width: inherit;
    margin: 2rem 0;
}

.login-form-area h1 {
    font-size: 1.9rem;
}

.login-form-area p {
    font-size: 1rem;
    padding-bottom: 2.5em;
}

.input-section {
    margin-bottom: 2rem;
    display: flex;
    flex-direction: column;
    width: 100%;
}

.input-section-remember {
    margin-bottom: 2rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
}

.input-section-remember label {
    font-size: 1.1rem;
    padding-right: 1rem;
    position: relative;
    display: inline-block;
    top: 2px;
    vertical-align: middle;
}

.input-section-remember input {
    vertical-align: middle;
    position: relative;
    width: 17px;
    height: 17px;
    outline: none;
    border: 1px solid black;
}

.input-section:last-child {
    margin-bottom: 0;
}

.input-section label {
    font-weight: bold;
    font-size: 0.9rem;
    margin-bottom: 0.5rem;
}

.input-section input {
    outline: none;
    background: none;
    color: inherit;
    border: 1px solid whitesmoke;
    font-size: 1em;
    padding: 0.5em;
    border-radius: 5px;
    width: 30vw;
}

.input-section input:focus {
    border-color: whitesmoke;
}

.form-control:focus {
    color: white;
    background: none;
}

.form-check-label {
    font-size: 1rem;
}

.btn-login {
    color: white;
    background-color: #1d68a7;
    padding: 0.75rem 1.5rem;
    border-radius: 0.5rem;
    text-decoration: none;
    font-size: 0.9rem;
    outline: none;
    border: none;
    cursor: pointer;
}

.btn-login:hover {
    background-color: #2180d8;
}

.btn-login:focus {
    background-color: #2796ff;
}

.typing {
    font-size: 3em;
}

@media (max-width: 1060px) {
    .home-main-section .image-wrapper {
        display: none;
    }

    .home-main-section {
        justify-content: center;
        flex-direction: column;
        align-items: center;
    }

    .login-form-area {
        width: 80vw;
        max-width: inherit;
        margin: 2rem 0;
    }
}
