.home-main-section {
  flex-direction: column;
  justify-content: center;
}

.quote-list-container {
  display: flex;
  flex-direction: column;
  max-width: 1400px;
  margin: 0 auto;
  padding: 0 40px;
  flex-grow: 1;
  align-items: center;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.5);
  transition: 0.3s;
  width: 60vw;
  background-color: white;
  border-radius: 5px;
  padding-top: 10px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 10px;
  align-items: center;
  color: black;
  margin-bottom: 100px;
}

.card ul {
  list-style: none;
  padding-left: 40px;
  padding-right: 40px;
}

.card ul li {
  margin-bottom: 10px;
}

.quoteCreatedDate {
  margin-right: 0.6em;
}

.quote-label {
  width: 70%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.card:hover {
  box-shadow: 0 8px 16px 0px rgba(0,0,0,0.8);
}

#request-button a, #list-button a {
  color: black;
  text-decoration: none;
  margin-bottom: 20px;
  display: inline-block;
}

#list-button {
  margin-right: 30px;
}

.quotes-nav-icon {
  font-size: 3em;
  margin-bottom: 8px;
}

.quotations-nav-buttons {
  text-align: center;
  margin-top: 30px;
  margin-bottom: 30px;
}

.quote-list-item {
  display: flex;
  justify-content: space-between;
}

.quote-list-item span a {
  text-decoration: none;
  color: #838383;
}

.no-quotes-container {
  text-align: center;
}

.no-quotes-message {
  font-size: 0.8em;
}

.heading-date {
    width: 150px;
}

.cell-right {
    border-right: 1px solid #adadad;
}

td span {
    padding: 7px 13px;
    display: inline-block;
}

.truncate-span {
    text-overflow: ellipsis;
    overflow: hidden;
}

.heading-row > th {
    border-top: 1px solid #adadad;
    border-bottom: 1px solid #adadad;
    border-left: 1px solid #adadad;
}

.heading-row > th:last-child {
    border-right: 1px solid #adadad;
}

.normal-row {
    display: table-row;
}

.normal-row td {
    display: table-cell;
    vertical-align: middle;
    font-weight: 100;
    border-collapse: collapse;
    border-left: 1px solid #adadad;
    background-color: white;
    color: black;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

}

.quotations-table {
    table-layout: fixed;
    background-color: white;
    color: black;
    margin: auto;
    width: 100%;
}

tr:last-child td {
    border-bottom: 1px solid #adadad;
}

span a {
    text-decoration: none;
    color: #838383;
}

span a:hover {
    text-decoration: none;
    cursor: pointer;
}

.icon-right {
    margin-right: 1em;
}

.request-form-container {
    display: flex;
    flex-direction: column;
    max-width: 1400px;
    margin: 0 auto;
    padding: 0 40px;
    flex-grow: 1;
    color: black;
    width: 60vw;
}

.submit-button {
    border: 1px solid #adadad;
    border-radius: 2px;
    padding-left: 8px;
    padding-right: 8px;
    padding-top: 2px;
    padding-bottom: 2px;
    text-decoration: none;
    color: #4b4b4b;
    text-align: center;
    transition: all ease 0.5s;
}

.submit-button:hover {
    background-color: rgb(23, 63, 53);
    color: white;
}

.form-group {
    margin-top: 30px;
}

.block-label {
    display: block;
    margin-top: 5px;
    margin-bottom: 5px
}

form, .form-text-area {
    width: 100%;
}