.home-main-section {
  flex-direction: column;
  justify-content: center;
}

.quote-list-container {
  display: flex;
  flex-direction: column;
  max-width: 1400px;
  margin: 0 auto;
  padding: 0 40px;
  flex-grow: 1;
  align-items: center;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.5);
  transition: 0.3s;
  width: 60vw;
  background-color: white;
  border-radius: 5px;
  padding-top: 10px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 10px;
  align-items: center;
  color: black;
  margin-bottom: 100px;
}

.card ul {
  list-style: none;
  padding-left: 40px;
  padding-right: 40px;
}

.card ul li {
  margin-bottom: 10px;
}

.quoteCreatedDate {
  margin-right: 0.6em;
}

.quote-label {
  width: 70%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.card:hover {
  box-shadow: 0 8px 16px 0px rgba(0,0,0,0.8);
}

#request-button a, #list-button a {
  color: black;
  text-decoration: none;
  margin-bottom: 20px;
  display: inline-block;
}

#list-button {
  margin-right: 30px;
}

.quotes-nav-icon {
  font-size: 3em;
  margin-bottom: 8px;
}

.quotations-nav-buttons {
  text-align: center;
  margin-top: 30px;
  margin-bottom: 30px;
}

.quote-list-item {
  display: flex;
  justify-content: space-between;
}

.quote-list-item span a {
  text-decoration: none;
  color: #838383;
}

.no-quotes-container {
  text-align: center;
}

.no-quotes-message {
  font-size: 0.8em;
}