#reachTextArea {
  outline: none;
  background: none;
  color: inherit;
  border: 1px solid #2e3852;
  font-size: 1em;
  padding: 0.5em;
  border-radius: 5px;
  width: 780px;
  height: 200px;
}

#reachTextArea:focus {
  border-color: #596da0;
}

#reachSubmit {
  border: 1px solid #adadad;
  border-radius: 2px;
  padding-left: 8px;
  padding-right: 8px;
  padding-top: 2px;
  padding-bottom: 2px;
  text-decoration: none;
  color: white;
}

h1 {
  font-size: 1.4em;
}